# repositories
.git
.hg
.svn
.gitignore

# editor configs
Properties
.vscode
.editorconfig
.prettierrc
.stylelintrc.json
.teamcity
.vs
packages
.env

# code binaries
bin
obj
node_modules
npm-debug.log
log
**/.toolstarget

# .Net project files
*.csproj
*.cs

# docs
*.md
*.txt
LICENSE

# docker
.docker
.dockerignore
Dockerfile
*/docker-compose*
